:root {
    --primary: #19505D;
    --secondary: #54514a;
    --tertiary: #9B0000;
    --highlight: #FDEFC8;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary);
    font-family: 'EB Garamond', serif;
}

/* ----- NAVIGATION ----- */

nav {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.logo a {
    font-size: 2rem;  
    color: white;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav li, a {
    text-decoration: none;
    list-style: none;
}

.nav-links a {
    display: inline-block;
    color: white;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    font-size: 1.3rem;
}

.nav-links a:hover {
    border-bottom-color: var(--highlight);
    transition: 0.3s;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger i {
    font-size: 1.8rem;
    color: white;
}

.hamburger i:hover {
    color: var(--highlight);
}

@media only screen and (max-width: 900px){
    nav {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 700px){
    .hamburger {
        display: block;
    } 
    .nav-links {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -200%;
        top: 70px;
        background: var(--secondary);
        text-align: center;
        font-size: 1.5rem;
        transition: 0.3s;
    }
    #nav_check:checked ~.nav-links {
        left: 0;
        height: 100%;
    }
    .nav-links ul {
        margin-top: 2rem;
        display: block;
    }
    .nav-links a {
        margin: 0.6rem 0;
    }
}

/* ----- MAIN ----- */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Lato', sans-serif;
}

/* ----- SEARCHING ----- */

#searchfield {
    margin: 4rem auto;
    width: 85%;
}

.search-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 500px;
}

#search {
    width: 80%;
    border: 1px solid var(--secondary);
    border-right: none;
    padding: 10px 0 10px 10px;
    font-size: 16px;
}

textarea:focus, input:focus{
    outline: none;
}

#search-button {
    width: 20%;
    max-width: 70px;
    border: none;
    color: white;
    background-color: var(--primary);
    font-size: 18px;
}

#search-button:hover {
    background: var(--tertiary);
    cursor: pointer;
}

.count-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 2.2%;
}

#count {
    font-style: italic;
    font-weight: 300;
    padding-top: 5px;
    font-size: 0.8rem;
}

/* ----- RESOURCE DISPLAY ----- */

h2 {
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
}

a {
    color: var(--primary);
}

.resource {
    margin: 2rem 0;
}

.resource p {
    font-size: 1rem;
    font-weight: 300;
}

.resource a:hover {
    color: var(--tertiary);
}

.institution {
    font-style: italic;
    margin-bottom: 0.2rem;
}

.heading {
    margin-bottom: 0.5rem;
}

.heading p {
    margin-bottom: 0.3rem;
}

.inline-label, .label {
    color: var(--tertiary);
}

.accordion {
    background-color: white;
    color: var(--secondary);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
.active, .accordion:hover {
    background-color: white;
    color: var(--primary);
}
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.field {
    margin-top: 0.5rem;
}


/* ----- LOADER ----- */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--tertiary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- SUBPAGES ----- */
#about h1, #help h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    margin: 3rem 0 2rem 0;
    text-align: center;
}

#about a, #help a {
    text-decoration: underline;
}

#about a:hover, #help a:hover {
    color: var(--tertiary)
}

#about h2, #help h2 {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    font-family: 'EB Garamond', serif;
}

/* ----- ABOUT ----- */

#about img {
    width: 20%;
    max-width: 100px;
}

.about-wrapper p {
    margin-bottom: 1rem;
}

.contributors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team-member {
    margin-bottom: 1rem;
}

.team-title {
    font-style: italic;
    font-weight: 200;
    margin: 0;
}