*{
    padding: 0;
    margin: 0;
}

:root {
    --primary: #19505D;
    --secondary: #54514a;
    --tertiary: #9B0000;
    --highlight: #FDEFC8;
    
    min-height: 100vh;
    position: relative;
}


/* ----- NAVIGATION ----- */
header {
    background-color: var(--primary);
    font-family: 'EB Garamond', serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

header li{
    list-style: none;
}

header a{
    color: white;
    text-decoration: none;
}

.lang-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}
.lang {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
}

.lang-link {
    transition: 0.3s ease-out;
}

.lang-link:hover {
    font-weight: bold;

}

.container{
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

nav{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-logo{
    font-size: 3rem;
    font-weight: 700;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    padding: 5px 0;
    border: 3px solid transparent;
    font-size: 1.2rem;
    transition: 0.3s ease-out;
}

.nav-link i {
    font-size: 1.6rem;
}

.nav-link:hover{
    border-bottom-color: white;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media(max-width:1000px){
    .hamburger{
      display: block;
    }
   .hamburger.active-hamburger .bar:nth-child(2){
      opacity: 0;
    }
   .hamburger.active-hamburger .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
   .hamburger.active-hamburger .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
   .nav-menu{
      position: fixed;
      left: -100%;
      top: 95px;
      gap: 0;
      flex-direction: column;
      background-color: var(--secondary);
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding: 20px 0 100vh 0;
      z-index: 100;
    }
   .nav-item{
      margin: 16px 0;
    }
   .nav-menu.active-hamburger{
      left: 0;
    }
}

/* ----- SEARCHING ----- */

#searchfield {
    margin: 2rem auto 0 auto;
    width: 85%;
}

.search-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 500px;
}

#search {
    width: 80%;
    border: 1px solid var(--primary);
    border-right: none;
    padding: 10px 0 10px 10px;
    font-size: 16px;
}

textarea:focus, input:focus{
    outline: none;
}

#search-button {
    width: 20%;
    max-width: 70px;
    border: none;
    color: white;
    background-color: var(--primary);
    font-size: 18px;
}

#search-button:hover {
    background: var(--tertiary);
    cursor: pointer;
}

.count-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 2.2%;
}

#count {
    font-style: italic;
    font-weight: 300;
    padding-top: 5px;
    font-size: 0.8rem;
}

/* ----- RESOURCE DISPLAY ----- */

.resource {
    margin: 2rem 0;
}

.resource h2 {
    font-size: 1.3rem;
    font-family: 'EB Garamond', serif;
}

.resource a {
    color: var(--primary);
    text-decoration: none;
}

.resource a:hover {
    color: var(--tertiary);
}

.resource p {
    font-size: 0.9rem;
    font-weight: 300;
}

.institution {
    font-style: italic;
    margin-bottom: 0.2rem;
}

.heading {
    margin-bottom: 0.5rem;
}

.heading p {
    margin-bottom: 0.3rem;
}

.inline-label, .label {
    color: var(--tertiary);
}

.accordion {
    background-color: white;
    color: var(--secondary);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.8rem;
    transition: 0.2s;
  }
  
.active, .accordion:hover {
    background-color: white;
    color: var(--primary);
}
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.field {
    margin-top: 0.5rem;
}


/* ----- LOADER ----- */
#loader {
    margin-top: 60px;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--tertiary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----- FOOTER ----- */


footer {
    position: absolute;
    bottom: 0;
    background-color: var(--primary);
    width: 100%;
}

.footer-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: right;
}

.footer-wrapper p {
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    color: white;
    padding-bottom: 5px;
}

.cc-logo {
    width: 70px;
}


/* ----- MAIN ----- */

main {
    max-width: 800px;
    margin: 0 auto 150px auto;
    padding: 0 1rem;
    font-family: 'Lato', sans-serif;
}

/* ----- SUBPAGES ----- */

.subpage h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    margin: 3rem 0 2rem 0;
    text-align: center;
}

.subpage a {
    color: var(--primary);
    text-decoration: underline;
}

.subpage a:hover {
    color: var(--tertiary)
}

.subpage h2 {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    font-family: 'EB Garamond', serif;
}

.subpage p {
    margin-bottom: 1rem;
}

.subpage ul {
    list-style-type: circle;
    padding-left: 2rem;
}

.subpage li {
    padding-bottom: 1rem;
}


/* ----- ABOUT ----- */

.contributors {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem 0;
}

.contributors p {
    font-weight: bold;
}

.main-contributor img {
    max-width: 100px;
}

.collaborating-contributors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.collaborating-contributors img {
    max-width: 150px;
    height: 40px;
    object-fit: contain;
}

.team-member {
    margin-bottom: 1rem;
}

.team-member p {
    margin-bottom: 0;
}

.team-title {
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

