*{
    padding: 0;
    margin: 0;
}

:root {
    --primary: #19505D;
    --secondary: #54514a;
    --tertiary: #9B0000;
    --highlight: #FDEFC8;
}


/* ----- HEADER ----- */
header {
    background-color: var(--primary);
    font-family: 'EB Garamond', serif;
}

header li{
    list-style: none;
}

header a{
    color: white;
    text-decoration: none;
}

.header-content {
    max-width: 1500px;
    padding: 0 2rem;
    margin: 0 auto;
}

/* ----- HEADER LANGUAGE ----- */
.lang-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}
.lang {
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}

.lang-link:hover {
    font-weight: bold;
}

/* ----- HEADER NAVIGATION ----- */

nav{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-logo{
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.lacli-rays-nav {
    width: 25px;
    padding-right: 4px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    padding: 5px 0;
    border: 3px solid transparent;
    font-size: 1.2rem;
    transition: 0.3s ease-out;
}

.nav-link i {
    font-size: 1.6rem;
}

.nav-link:hover{
    border-bottom-color: white;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media(max-width:1000px){
    .hamburger{
      display: block;
    }
   .hamburger.active-hamburger .bar:nth-child(2){
      opacity: 0;
    }
   .hamburger.active-hamburger .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
   .hamburger.active-hamburger .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
   .nav-menu{
      position: fixed;
      left: -100%;
      top: 99px;
      gap: 0;
      flex-direction: column;
      background-color: var(--secondary);
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding: 20px 0 100vh 0;
      z-index: 100;
    }
   .nav-item{
      margin: 16px 0;
    }
   .nav-menu.active-hamburger{
      left: 0;
    }
}

/* ----- INDEX HERO ----- */
#index-searchfield .hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/mapa-metztitlan.png");
    position: relative;
    height: 55vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#index-searchfield .hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    width: 80vw;
    max-width: 800px;
}

#index-searchfield .hero-content p {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto 3rem auto;
    text-shadow: 0 0 10px black;
    max-width: 680px;
}

#index-searchfield .hero-search-wrapper {
    display: flex;
    justify-content: center;

}

#index-search {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 0;
    border-right: none;
    padding: 15px 0 15px 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

#index-search-btn {
    width: 20%;
    border: none;
    color: white;
    background-color: var(--primary);
    font-size: 18px;
}

#index-search-btn i {
    font-size: 20px;
}

#index-search-btn:hover {
    background: var(--tertiary);
    cursor: pointer;
}

.credit {
    font-family: 'Lato', sans-serif;
    font-size: 9px;
    text-align: right;
    width: 40%;
    max-width: 300px;
    padding: 0.3rem 1rem 0 0;
    position: absolute;
    right: 0;
    color: var(--secondary);
}

/* ----- MAIN ----- */
main {
    max-width: 800px;
    margin: 0 auto 6rem auto;
    padding: 0 1rem;
    font-family: 'Lato', sans-serif;
}

/* ----- INDEX CONTENT ----- */
#index-content {
    max-width: 1000px;
    margin: 5rem auto 3rem auto;
    padding: 0 1rem;
}

#index-content h3 {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.index-item {
    margin-bottom: 7rem;
}

.populations {
    display: flex;
    justify-content: space-between;
}

.pop {
    text-align: center;
    padding: 0 2rem;
}

.index-item h2 {
    font-size: 2rem;
    color: var(--primary);
    padding-bottom: 1rem;
}

.index-item p {
    font-family: 'Lato', sans-serif;
}

@media(max-width:700px){
    .populations {
        flex-direction: column;
        align-items: center;
    }
    .pop {
        width: 60%;
    }
    .pop:nth-child(2) {
        padding: 4rem 0;
    }
    .index-item {
        margin-bottom: 4rem;
    }
}

.contributors {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
}

.main-contributor img {
    max-width: 100px;
}

.main-contributor {
    text-align: center;
}

.collaborating-contributors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.collaborating-contributors img {
    height: 65px;
}

@media(max-width: 600px){
    .contributors {
        flex-direction: column;
        align-items: center;
    }
    .collaborating-contributors {
        padding: 5rem 0 3rem 0;
    }
    .main-contributor h3{
        text-align: center;
    }
    .main-contributor img {
        max-width: 120px;
    }
    .collaborating-contributors img {
        height: 60px;
    }

    .subpage .collaborating-contributors {
        padding: 0;
    }

    .subpage .main-contributor img {
        max-width: 100px;
    }
}


/* ----- FOOTERS ----- */

/* Secondary Footer: Only on library.html */
footer.footer-secondary {
    font-family: 'EB Garamond', serif;
    color: var(--secondary);
    text-align: center;
    font-size: 0.8rem;
    padding: 3rem 3rem 1rem 3rem;
}

/* Primary Footer: On all other pages */
footer.footer-primary {
    background-color: var(--primary);
    width: 100%;
}

.footer-wrapper-primary {
    padding: 4rem 4rem 2rem 4rem;
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
}

.footer-identity {
    width: 300px;
    display: flex;
    align-items: center
}

.lacli-rays-footer {
    width: 60px;
    padding-right: 20px;
}

.footer-identity h2 {
    font-size: 2.5rem;
}

.footer-identity-text {
    margin: 0;
    padding: 0;
}

.footer-wrapper-primary li {
    list-style: none;
    padding-bottom: 2px;
}

.footer-wrapper-primary a {
    color: white;
    text-decoration: none;
}

.footer-wrapper-primary a:hover {
    color: var(--highlight);
}

.footer-col {
    padding-right: 2rem;
}

#cc {
    width: 250px;
}

#cc img {
    display: block;
    padding-bottom: 5px;
}

@media(max-width: 1050px){
    .footer-wrapper-primary {
        flex-wrap: wrap;
        justify-content: space-between
    }
    #cc {
        padding-top: 3rem;
        width: 100%;
        font-size: 0.8rem;
    }
}
@media(max-width: 750px){
    .footer-wrapper-primary {
        display: block;
        padding: 4rem 2rem 0 2rem;
    }
    .footer-identity {
        border-bottom: 4px solid white;
        width: 100%;
        padding-bottom: 10px;
        margin: 0 auto 2rem auto;
        text-align: center;
        display: block;
    }
    .lacli-rays-footer {
        padding: 0;
        width: 40px;
    }
    .footer-col {
        padding: 0 0 2.5rem 0;
    }
    .footer-col ul {
        display: flex;
        justify-content: space-evenly;
        max-width: 300px;
        margin: 0 auto;
    }
    #cc {
        text-align: center;
    }
    #cc img {
        display: inline-block;
    }
}

/* ----- LIBRARY ----- */
#library-searchfield {
    margin-top: 3rem;
}

.search-top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-tools {
    display: flex;
    justify-content: right;
    gap: 5px;
}

.search-tools button {
    border: none;
    color: #555;
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.08);
    padding: 0.8rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.search-tools button:hover {
    background-color: var(--highlight);
}

.library-search-wrapper {
    width: 70%;
    display: flex;
}

#field-selector {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: transparent;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color:black;
    cursor:pointer;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
}

.select {
    position: relative;
    border: 1px solid black;
    display: flex;
    width: 7em;
    background: transparent;
    overflow: hidden;
    margin-right: 2px;
 }
 .select::after {
    content: '\23F7';
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 3px;
    background: transparent;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: var(--tertiary)
 }

#library-search {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 0;
    border-right: none;
    padding: 0.5rem 0 0.5rem 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#library-search-btn {
    width: 15%;
    border: none;
    color: white;
    background-color: var(--primary);
    font-size: 18px;
}

#library-search-btn:hover {
    background-color: var(--tertiary);
    cursor: pointer;
}

#search-summary{
    margin: 3rem 0;
    padding: 10px 0 10px 1rem;
    font-size: 0.9rem;
    font-style: italic;
    background-color: var(--highlight);
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    color: var(--tertiary);
    cursor: pointer;
  }
  

@media(max-width: 800px){
    .search-top-line {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    .library-search-wrapper {
        width: 100%;
    }
}

/* ----- RESOURCE DISPLAY ----- */
.resource {
    margin: 2rem 0;
}

.resource h2 {
    font-size: 1.3rem;
    font-family: 'EB Garamond', serif;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

.resource a {
    color: var(--primary);
    text-decoration: none;
}

.resource a:hover {
    color: var(--tertiary);
}

.institution {
    font-style: italic;
    padding-bottom: 0.4rem;
}

.resource p {
    font-size: 0.9rem;
    font-weight: 300;
}

.heading {
    margin-bottom: 0.5rem;
}

.heading p {
    margin-bottom: 0.3rem;
}

.inline-label, .label {
    color: var(--tertiary);
}

.resource-accordion {
    background-color: white;
    color: var(--secondary);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.8rem;
    transition: 0.2s;
  }
  
.resource-accordion-active, .resource-accordion:hover {
    background-color: white;
    color: var(--primary);
}
  
.resource-panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.field {
    margin-top: 0.5rem;
}


/* ----- LOADER ----- */
#loader {
    margin-top: 60px;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--tertiary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----- SUBPAGES ----- */
.subpage h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    margin: 3rem 0 2rem 0;
    text-align: center;
}

.subpage a {
    color: var(--primary);
    text-decoration: underline;
}

.subpage a:hover {
    color: var(--tertiary)
}

.subpage h2 {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    font-family: 'EB Garamond', serif;
}

.subpage p {
    margin-bottom: 1rem;
}

.subpage ul {
    list-style-type: circle;
    padding-left: 2rem;
}

.subpage li {
    padding-bottom: 1rem;
}


/* ----- ABOUT ----- */
.team {
    padding-top: 3rem;
}

.team-member {
    margin-bottom: 1rem;
}

.team-member p {
    margin-bottom: 0;
    color: black
}

.team-title {
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

#collaborators-heading {
    cursor: pointer;
}

#collaborators-accordion {
    display: none;
  }
  
  #collaborators-accordion.collaborators-accordion-active {
    display: block;
  }


/* ----- HELP ----- */
.help-accordion-wrapper {
    padding-bottom: 150px;
}

.help-accordion-btn {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 1rem ;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.help-accordion-active, .help-accordion-btn:hover {
    background-color: var(--highlight);
}

.help-accordion-btn:after {
    content: '\0002B'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    font-weight: 600;
    color: #777;
    float: right;
    margin-left: 5px;
}
  
.help-accordion-active:after {
    content: "\02013"; /* Unicode character for "minus" sign (-) */
}
  
.help-accordion-panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.help-accordion-panel ul {
    padding: 1rem 2rem 2rem 2rem;
}
.help-accordion-panel p {
    padding: 1rem 2rem 2rem 0;
}

.sample-questions li {
    padding-bottom: 0;
}

.sample-question-suggestion {
    list-style: none;
    font-style: italic;
    padding-bottom: 2rem !important;
    color: var(--tertiary);
}

@media(max-width: 500px){
    .help-accordion-btn:after {
        content: none;
    }
    .help-accordion-active:after {
        content: none;
    }
}

/* ----- CONTACT ----- */
#contact {
    display: flex;
    gap: 2rem;
}

.form-control {
    width: 500px;
    font-family: 'Lato', sans-serif;
    padding: 1rem 0.5rem;
    font-size: 1rem;
}

.col {
    margin-bottom: 1rem;
}

.contact-btn {
    border: none;
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    width: 50%;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
}

.contact-btn:hover {
    background-color: var(--tertiary);
}

.sent {
    text-align: center;
    padding-bottom: 500px;
}

@media(max-width: 750px){
    #contact {
        display: block;
        gap: 0;
    }
    .contact-form {
        margin-top: 4rem;
    }
    #contact form {
        width: 95%;
    }
    .form-control {
        width: 100%;
    }
}